.logo{
	width:120px;
	height:31px;
	background:#333;
	border-radius:5px;
	margin:18px;
	float:left;
	background:url('https://img02.ma.scrmtech.com/ca051192a512340e25de82122797e12a');
	background-size:cover;
}
table tr td{
	padding:5px;
	border:1px solid #ccc;
}
